
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
}

body {

      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: linear-gradient(45deg , #7f5a89 , #0d324d);
      overflow: hidden;

}

.container {

      background: rgba(255 , 255, 255, 0.1);
      padding: 40px ;
      border-radius: 20px;
      box-shadow: 0 8px 32px rgba(0 ,0 , 0, 0.2);
      backdrop-filter: blur(10px);

}

h2{
      text-align: center;
      color: #fff;
      margin-bottom: 20px;
}

.input-group {
      position: relative;
      margin-bottom: 30px;
}

.input-group input{

      width: 100%;
      padding: 10px;
      border: none;
      background: rgba(255, 255, 255, 0.2);
      color: #fff;
      font-size: 16px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
      outline: none;
}

.input-group input:focus{
      background: rgba(255, 255, 255, 0.8);
      color: #333;
      transform: scale(1.05);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.input-group label {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%) ;
      color: rgba(255, 255, 255, 0.7);
      pointer-events: none ;
      transition: all 0.3s ease;
}


.input-group input:focus+label , 
.input-group input:valid+label {
      top: 0;
      left: 10px;
      font-size: 12px;
      color: #ff9e7e;
}

button {
      width: 100%;
      padding: 10px;
      border: none !important;
      border-radius: 10px ;
      background-color: #ff9e7e;
      color: #fff;
      font-size: 16px ;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.3s ease;
}

button:hover{
      background-color: #ff6b6b;
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}